body {
  background-color: rgb(150, 146, 145);
  margin: 15px;
}
.box {
  padding: 15px;
  border: 3px solid;
  border-radius: 10px;
}
.fullBox {
  display: flex;
  justify-content: center;
}
h3 {
  text-align: center;
}
